min_peers = 1
max_peers = 30.
download_rate = 0
upload_rate = 0
directory = /downloads
session = /downloads/.session
schedule = watch_directory,5,5,load_start=/downloads/watch/*.torrent
port_range = 49161-49161
port_random = yes
check_hash = yes
session_save = yes
encryption = allow_incoming,enable_retry,prefer_plaintext
use_udp_trackers = yes
dht = auto
dht_port = 49160
peer_exchange = yes
encoding_list = UTF-8
scgi_port = 127.0.0.1:5000